body{
    font-family: 'Open Sans';
    background-color: #f9fafc;
}


button{
    
    border: none;
    color: #fff;
    background-color: #000;
    border-radius: 25%;
    width: 98%;
    padding: 2%
    
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  a:link, a:visited {
background-color: none;
color: #69696a;
padding: 9px 5px;
text-align: center;
text-decoration: none;
display: inline-block;
}

a:hover, a:active {
color: #fff;
}

footer{
    background-color: 
    position: fixed;
    display: flex;

}
.navbottom{
    display: flex;
    justify-content: space-between;
    float: left;
    position: fixed;
    background-color:rgba(247, 193, 162, 0.7); ;
    bottom: 0%;
    width: 100%;
}

.navbottom a{
float: right;
display: block;
text-align: center;
padding: 1px 16px;
}

